@mixin link {
  .text-link{
    color: white;
    text-decoration: none;
    
    span {
      font-weight: bold;
    }
  }
  .text-link:hover{
    color: blue;
    text-decoration: underline;
  }
  
}
