.d-flex {
  display: flex;
}

/* левая колонка */
.left-aside {
  width: 200px;
  min-height: 50vh;
  background: #d32f2f;
}

/* центральная колонка (главная магия flex-grow) */
.content-side {
  flex-grow: 1;
  min-height: 50vh;
  background: #388e3c;
}

/* правая колонка */
.right-aside {
  width: 350px;
  min-height: 50vh;
  background: #1976d2;
}